label {
  font-weight: normal;
  
  &.required {
    &:after {
      content: ' *';
      color: @brand-danger;
    }
  }
}

.form-group {
  .list-unstyled {
    margin-top: .75em;
    
    .text-muted();
    
    li.text-success {
      font-weight: bold;
    }
  }
}